apiVersion: apps/v1
kind: Deployment
metadata:
  name: contacts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: contacts
  template:
    metadata:
      labels:
        app: contacts
    spec:
      containers:
        - name: contacts
          image: contacts-db-sample
          imagePullPolicy: Never
          ports:
            - containerPort: 3000   # adjust if needed