project_id           = "juancavallotti"
region               = "us-west1"
cluster_name         = "contacts-autopilot"
artifact_repo_path   = "us-west1-docker.pkg.dev/juancavallotti/eetr-artifacts"
image_name           = "contacts-db-sample"
cloud_build_runner_account_id = "contacts-cloudbuild-runner"
github_owner         = "juancavallotti"
github_repo          = "contacts-db-sample"
trigger_branch_regex = "^main$"
trigger_tag_regex    = "^v.*$"
deploy_environment   = "prod"
db_password          = "replace-me"
