apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - pvc.yaml
patches:
  - path: service-patch.yaml
  - path: deployment-patch.yaml
  - path: migration-job-patch.yaml
